//navigation.scss
.nav{
     font-family: $font__heading;
     .menu{
          list-style: none;
          padding: 3em 4em;
          margin: 0;
          display: flex;
          .menu-item{
               a{
                    text-decoration: none;
                    color: $color__black;
                    padding: 1em 2em;
                    display: block;
                    &:hover{
                         color: $color__white;
                    }
               }
          }
     }
}