//navigation.scss
.nav{
     font-family: $font__heading;
     .menu{
          @include listreset;
          .menu-item{
               a{
                    text-decoration: none;
                    color: $color__black;
                    padding: 1em 2em;
                    display: block;
                    &:hover{
                         color: $color__white;
                    }
               }
          }
     }
}